* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  text-align: justify;
  color: #767e9e;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.works-section {
  position: relative;
  padding-top: 61px;
  padding-bottom: 67px;
  background: #2d303a;
  box-shadow: 0 6px 0 #323746;
  z-index: 100;
}

.works-section .container {
  min-width: 1020px;
  max-width: 1020px;
  padding: 0 40px;
  margin: 0 auto;
}

.works-section__title {
  margin-bottom: 17px;
}

.works-section__title h3 {
  font-family: "LatoBlack", Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #666d89;
}

.works-section__desc {
  margin-bottom: 12px;
}

.works-section__desc p {
  font-family: "LatoLight", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.works-section__desc p {
  font-size: 18px;
  line-height: 30px;
}

.works-section__tags {
  margin-bottom: 22px;
}

.works-section__tags-list {
  display: flex;
}

.works-section__tags-link {
  padding: 2px 7px;
  margin-right: 10px;
  border: 1px solid #666d89;
  border-radius: 5px;

  font-family: "LatoRegular", Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: -0.3px;
  line-height: 15px;
  word-spacing: 2px;

  color: #666d89;
  background: #2d303a;
}

.works-section__tags-link:nth-child(4n) {
  padding: 2px 6px;
}

.works-section__tags-link_active,
.works-section__tags-link:hover {
  border: 1px solid #c5c5c5;

  color: #c5c5c5
}

@supports not (display: grid) {
  .works-gallery {
    display: flex;
    flex-wrap: wrap;
  }

  .works-gallery__item {
    position: relative;
    max-width: 220px;
    min-width: 220px;
    max-height: 187px;
    min-height: 187px;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
  }

  .works-gallery__item:nth-child(4n) {
    margin-right: 0;
  }

  .works-gallery__item:nth-child(n+9):nth-child(-n+12) {
    margin-bottom: 0;
  }

  .works-gallery__item:nth-child(n+13):nth-child(-n+9999) {
    display: none;
  }

  .works-gallery__img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .img_1_1_position {
    top: -12px;
    left: -8px;
  }

  .img_1_2_position {
    top: -44px;
    left: -82px;
  }

  .img_1_3_position {
    top: -2px;
    left: -11px;
  }

  .img_1_4_position {
    top: -3px;
    left: -24px;
  }

  .img_2_1_position {
    top: -17px;
    left: -10px;
  }

  .img_2_2_position {
    top: -5px;
    left: -16px;
  }

  .img_2_3_position {
    top: -40px;
    left: -31px;
  }

  .img_2_4_position {
    top: -33px;
    left: -24px;
  }

  .img_3_1_position {
    top: -3px;
    left: -16px;
  }

  .img_3_2_position {
    top: -114px;
    left: -141px;
  }

  .img_3_3_position {
    top: -176px;
    left: -144px;
  }

  .img_3_4_position {
    top: -61px;
    left: -36px;
  }
}


@supports (display: grid) {
  .works-gallery__img {
    position: absolute;
    left: -9999px;
  }

  .works-gallery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-auto-rows: 187px;
    grid-auto-flow: row dense;
  }

  .works-gallery__item {
    grid-column-start: auto;
    grid-row-start: auto;
    background-repeat: no-repeat;
  }

  .works-gallery__item:nth-child(n+13):nth-child(-n+9999) {
    display: none;
  }

  .works-gallery__img-wrapper_1_1 {
    background: url("assets/img/works/works_image_1_1.png");
    background-position-x: -8px;
    background-position-y: -11px;
  }

  .works-gallery__img-wrapper_1_2 {
    background: url("assets/img/works/works_image_1_2.png");
    background-position-x: -82px;
    background-position-y: -43px;
  }

  .works-gallery__img-wrapper_1_3 {
    background: url("assets/img/works/works_image_1_3.png");
    background-position-x: -11px;
    background-position-y: -1px;
  }

  .works-gallery__img-wrapper_1_4 {
    background: url("assets/img/works/works_image_1_4.png");
    background-position-x: -24px;
    background-position-y: -2px;
  }

  .works-gallery__img-wrapper_2_1 {
    background: url("assets/img/works/works_image_2_1.png");
    background-position-x: -10px;
    background-position-y: -16px;
  }

  .works-gallery__img-wrapper_2_2 {
    background: url("assets/img/works/works_image_2_2.png");
    background-position-x: -16px;
    background-position-y: -4px;
  }

  .works-gallery__img-wrapper_2_3 {
    background: url("assets/img/works/works_image_2_3.png");
    background-position-x: -31px;
    background-position-y: -39px;
  }

  .works-gallery__img-wrapper_2_4 {
    background: url("assets/img/works/works_image_2_4.png");
    background-position-x: -24px;
    background-position-y: -32px;
  }

  .works-gallery__img-wrapper_3_1 {
    background: url("assets/img/works/works_image_3_1.png");
    background-position-x: -16px;
    background-position-y: -2px;
  }

  .works-gallery__img-wrapper_3_2 {
    background: url("assets/img/works/works_image_3_2.png");
    background-position-x: -141px;
    background-position-y: -113px;
  }

  .works-gallery__img-wrapper_3_3 {
    background: url("assets/img/works/works_image_3_3.png");
    background-position-x: -144px;
    background-position-y: -175px;
  }

  .works-gallery__img-wrapper_3_4 {
    background: url("assets/img/works/works_image_3_4.png");
    background-position-x: -36px;
    background-position-y: -60px;
  }
}