@font-face {
  font-family: 'LatoBlack';
  src: url('./assets/fonts/lato/Lato-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoBold';
  src: url('./assets/fonts/lato/Lato-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoLight';
  src: url('./assets/fonts/lato/Lato-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoRegular';
  src: url('./assets/fonts/lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoThin';
  src: url('./assets/fonts/lato/Lato-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'LatoBold', Arial, Helvetica, sans-serif;
}

html,
body {
  text-align: justify;
  color: #767e9e;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  position: relative;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  z-index: 10;
}

.header .container {
  height: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
}

.logo-title {
  font-size: 26px;
  letter-spacing: -1.1px;
}

.logo-title::after {
  content: "*";
  color: #f06c64;
}

.nav__list {
  display: flex;
  margin-top: 10px;
  font-size: 12px;
  letter-spacing: -0.2px;
}

.nav-list__item {
  margin-left: 10px;
  margin-right: 2px;
  list-style: disc;
  list-style-position: inside !important;
  font-size: 12px;
  color: #494e62;
}

.nav-list__item a {
  text-decoration: none;
  color: #ffffff;
}

.nav-list__item:first-child span {
  color: #f06c64;
}

.nav-list__item a:hover {
  color: #f06c64;
}

.nav-list__item:first-child {
  margin-left: 0;
  margin-right: 5px;
  list-style: none;
}