@font-face {
  font-family: 'LatoBlack';
  src: url('./assets/fonts/lato/Lato-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoBold';
  src: url('./assets/fonts/lato/Lato-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoLight';
  src: url('./assets/fonts/lato/Lato-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoRegular';
  src: url('./assets/fonts/lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoThin';
  src: url('./assets/fonts/lato/Lato-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'LatoBold', Arial, Helvetica, sans-serif;
}

html,
body {
  text-align: justify;
  color: #767e9e;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}